## 1)Death rates in each country?

### Importing Libraries

In [2]:
import pandas as pd

In [3]:
import numpy as np

### Reading Data file

In [4]:
dfA_0=pd.read_csv("time_series_covid19_deaths_global_03-31-2020.csv")
dfA_0

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,1,2,4,4,4,4,4,4
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,4,5,5,6,8,10,10,11,15
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,17,17,19,21,25,26,29,31,35,44
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,3,3,3,6,8,12
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
dfA_0.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20'],
      dtype='object')

### Making a Dataframe of our required Dates

In [6]:
dfA_1=dfA_0[['Province/State', 'Country/Region', 'Lat', 'Long','2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20']]

dfA_1

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,1,2,4,4,4,4,4,4
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,4,5,5,6,8,10,10,11,15
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,17,17,19,21,25,26,29,31,35,44
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,3,3,3,6,8,12
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Sum of Deaths

In [7]:
dfA_2=dfA_1[:]
dfA_2['Sum_Death_feb_March']=dfA_1.iloc[:,5:].sum(axis=1)
dfA_2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Death_feb_March
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,2,4,4,4,4,4,4,29
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,4,5,5,6,8,10,10,11,15,91
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,17,19,21,25,26,29,31,35,44,324
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,3,3,3,6,8,12,39
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###  Death Rate Calculation

In [8]:
dfA_3=dfA_2[:]
dfA_3['Death_Rate']=dfA_3['Sum_Death_feb_March']/60
dfA_3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Death_feb_March,Death_Rate
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,2,4,4,4,4,4,4,29,0.483333
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,5,5,6,8,10,10,11,15,91,1.516667
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,19,21,25,26,29,31,35,44,324,5.400000
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,3,3,3,6,8,12,39,0.650000
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,6,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.016667
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

### Sorting Contries/State with respect to Death Rate in Ascending order

In [9]:
dfA_4=dfA_3[:]
dfA_5=dfA_4.sort_values(by="Death_Rate")
dfA_5

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Death_feb_March,Death_Rate
127,NaN,Holy See,41.9029,12.4534,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
161,NaN,Mongolia,46.8625,103.8467,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
155,NaN,Malta,35.9375,14.3754,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
154,NaN,Maldives,3.2028,73.2207,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
152,NaN,Madagascar,-18.7669,46.8691,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,NaN,France,46.2276,2.2137,0,0,0,0,0,0,...,1100,1331,1696,1995,2314,2606,3024,3523,21308,355.133333
133,NaN,Iran,32.0000,53.0000,0,0,0,0,0,0,...,1934,2077,2234,2378,2517,2640,2757,2898,34371,572.850000
201,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,2808,3647,4365,5138,5982,6803,7716,8464,54579,909.650000
137,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,6820,7503,8215,9134,10023,10779,11591,12428,116529,1942.150000
62,Hubei,China,30.9756,112.2707,249,350,414,479,549,618,...,3160,3163,3169,3174,3177,3182,3186,3187,139213,2320.216667

### Countries/State with Lowest Death Rate

In [10]:
dfA_5.head(60)

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Death_feb_March,Death_Rate
127,NaN,Holy See,41.902900,12.453400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
161,NaN,Mongolia,46.862500,103.846700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
155,NaN,Malta,35.937500,14.375400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
154,NaN,Maldives,3.202800,73.220700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
152,NaN,Madagascar,-18.766900,46.869100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
149,NaN,Liechtenstein,47.140000,9.550000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
148,NaN,Liberia,6.428100,-9.429500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
146,NaN,Latvia,56.879600,24.603200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
145,NaN,Kyrgyzstan,41.204400,74.766100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
144,NaN,Kuwait,29.500000,47.750000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
126,NaN,Haiti,18.971200,-72.285200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
124,NaN,Guinea,9.945600,-9.696600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
119,NaN,Georgia,42.315400,43.356900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
113,Saint Barthelemy,France,17.900000,-62.833300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
164,NaN,Namibia,-22.957600,18.490400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
112,Reunion,France,-21.135100,55.247100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
108,French Polynesia,France,-17.679700,149.406800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
107,French Guiana,France,3.933900,-53.125800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
105,NaN,Fiji,-17.713400,178.065000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
104,NaN,Ethiopia,9.145000,40.489700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
103,NaN,Eswatini,-26.522500,31.465900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
101,NaN,Eritrea,15.179400,39.782300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
100,NaN,Equatorial Guinea,1.500000,10.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
95,NaN,Djibouti,11.825100,42.590300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
93,Greenland,Denmark,71.706900,-42.604300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
92,Faroe Islands,Denmark,61.892600,-6.911800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
83,NaN,Congo (Brazzaville),-4.038300,21.758700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
78,Tibet,China,31.692700,88.092400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
75,Shanxi,China,37.577700,112.292200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
71,Qinghai,China,35.745200,95.995600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
111,New Caledonia,France,-20.904300,165.618000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
165,NaN,Nepal,28.166700,84.250000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
166,Aruba,Netherlands,12.518600,-70.035800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
168,Sint Maarten,Netherlands,18.042500,-63.054800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
250,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
249,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
246,Yukon,Canada,64.282300,-135.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
245,Northwest Territories,Canada,64.825500,-124.845700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
244,NaN,Saint Kitts and Nevis,17.357822,-62.782998,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
242,NaN,Guinea-Bissau,11.803700,-15.180400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
240,NaN,Libya,26.335100,17.228331,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
239,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
238,Recovered,Canada,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
237,NaN,Belize,13.193900,-59.543200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
236,NaN,Timor-Leste,-8.874217,125.727539,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
234,NaN,Mozambique,-18.665695,35.529562,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
233,NaN,Grenada,12.116500,-61.679000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
232,NaN,Dominica,15.415000,-61.371000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
229,NaN,Zambia,-15.416700,28.283300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
179,NaN,Papua New Guinea,-6.315000,143.955500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
188,NaN,Rwanda,-1.940300,29.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
189,NaN,Saint Lucia,13.909400,-60.978900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
190,NaN,Saint Vincent and the Grenadines,12.984300,-61.287200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
193,NaN,Senegal,14.497400,-14.452400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
195,NaN,Seychelles,-4.679600,55.492000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
70,Ningxia,China,37.269200,106.165500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
199,NaN,Somalia,5.152100,46.199600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

### Countries/State with Highest Death Rate

In [12]:
dfA_5.tail(60)

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Death_feb_March,Death_Rate
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,0,0,...,7,7,7,7,8,8,8,8,120,2.000000
79,Xinjiang,China,41.1129,85.2401,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,120,2.000000
177,NaN,Pakistan,30.3753,69.3451,0,0,0,0,0,0,...,7,8,9,11,12,14,21,26,127,2.116667
178,NaN,Panama,8.5380,-80.7821,0,0,0,0,0,0,...,6,8,8,9,14,17,24,30,136,2.266667
61,Hong Kong,China,22.3000,114.2000,0,0,0,1,1,1,...,4,4,4,4,4,4,4,4,142,2.366667
181,NaN,Peru,-9.1900,-75.0152,0,0,0,0,0,0,...,7,9,9,11,16,18,24,30,142,2.366667
44,Quebec,Canada,52.9399,-73.5491,0,0,0,0,0,0,...,4,6,8,18,22,22,22,31,148,2.466667
76,Sichuan,China,30.6171,102.7103,1,1,1,1,1,1,...,3,3,3,3,3,3,3,3,149,2.483333
77,Tianjin,China,39.3054,117.3230,0,0,0,0,1,1,...,3,3,3,3,3,3,3,3,154,2.566667
74,Shanghai,China,31.2020,121.4491,1,1,1,1,1,1,...,4,5,5,5,5,5,5,5,157,2.616667
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,6,8,9,13,18,19,23,27,158,2.633333
151,NaN,Luxembourg,49.8153,6.1296,0,0,0,0,0,0,...,8,8,9,15,18,21,22,23,162,2.700000
42,Ontario,Canada,51.2538,-85.3232,0,0,0,0,0,0,...,7,8,13,18,18,21,31,33,168,2.800000
63,Hunan,China,27.6104,111.7088,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,190,3.166667
163,NaN,Morocco,31.7917,-7.0926,0,0,0,0,0,0,...,5,6,11,23,25,26,33,36,192,3.200000
36,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,13,13,14,14,17,17,19,24,201,3.350000
183,NaN,Poland,51.9194,19.1451,0,0,0,0,0,0,...,10,14,16,16,18,22,31,33,213,3.550000
96,NaN,Dominican Republic,18.7357,-70.1627,0,0,0,0,0,0,...,6,10,10,20,28,39,42,51,220,3.666667
131,NaN,India,21.0000,78.0000,0,0,0,0,0,0,...,10,12,20,20,24,27,32,35,226,3.766667
175,NaN,Norway,60.4720,8.4689,0,0,0,0,0,0,...,12,14,14,19,23,25,32,39,234,3.900000
153,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,16,20,23,26,27,35,37,43,264,4.400000
88,NaN,Diamond Princess,0.0000,0.0000,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,269,4.483333
73,Shandong,China,36.3427,118.1498,0,0,0,0,0,0,...,7,7,7,7,7,7,7,7,277,4.616667
57,Hainan,China,19.1959,109.7453,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,279,4.650000
58,Hebei,China,39.5490,116.1306,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,282,4.700000
135,NaN,Ireland,53.1424,-7.6921,0,0,0,0,0,0,...,7,9,19,22,36,46,54,71,296,4.933333
49,Anhui,China,31.8257,117.2264,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,299,4.983333
51,Chongqing,China,30.0572,107.8740,1,2,2,2,2,2,...,6,6,6,6,6,6,6,6,304,5.066667
186,NaN,Romania,45.9432,24.9668,0,0,0,0,0,0,...,11,17,23,26,37,43,65,82,314,5.233333
191,NaN,San Marino,43.9424,12.4578,0,0,0,0,0,0,...,21,21,21,21,22,22,25,26,318,5.300000
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,19,21,25,26,29,31,35,44,324,5.400000
54,Guangdong,China,23.3417,113.4244,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,329,5.483333
98,NaN,Egypt,26.0000,30.0000,0,0,0,0,0,0,...,20,21,24,30,36,40,41,46,338,5.633333
122,NaN,Greece,39.0742,21.8243,0,0,0,0,0,0,...,20,22,26,28,32,38,43,49,339,5.650000
50,Beijing,China,40.1824,116.4142,1,1,1,1,1,1,...,8,8,8,8,8,8,8,8,340,5.666667
97,NaN,Ecuador,-1.8312,-78.1834,0,0,0,0,0,0,...,27,28,34,36,48,58,60,75,423,7.050000
134,NaN,Iraq,33.0000,44.0000,0,0,0,0,0,0,...,27,29,36,40,42,42,46,50,509,8.483333
94,NaN,Denmark,56.2639,9.5018,0,0,0,0,0,0,...,32,34,41,52,65,72,77,90,542,9.033333
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,28,30,49,58,68,86,108,128,626,10.433333
59,Heilongjiang,China,47.8620,127.7615,2,2,2,2,2,3,...,13,13,13,13,13,13,13,13,650,10.833333
182,NaN,Philippines,13.0000,122.0000,0,1,1,1,1,1,...,35,38,45,54,68,71,78,88,697,11.616667
184,NaN,Portugal,39.3999,-8.2245,0,0,0,0,0,0,...,33,43,60,76,100,119,140,160,792,13.200000
139,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,43,45,47,49,52,54,54,56,855,14.250000
205,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,36,62,77,105,105,110,146,180,945,15.750000
28,NaN,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,...,46,59,77,92,111,136,159,201,976,16.266667
213,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,44,59,75,92,108,131,168,214,976,16.266667
132,NaN,Indonesia,-0.7893,113.9213,0,0,0,0,0,0,...,55,58,78,87,102,114,122,136,989,16.483333
60,Henan,China,33.8820,113.6140,2,2,2,2,2,2,...,22,22,22,22,22,22,22,22,1021,17.016667
206,NaN,Switzerland,46.8182,8.2275,0,0,0,0,0,0,...,122,153,191,231,264,300,359,433,2566,42.766667
143,NaN,"Korea, South",36.0000,128.0000,0,0,0,0,0,0,...,120,126,131,139,144,152,158,162,2689,44.816667
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,122,178,220,289,353,431,513,705,3145,52.416667
120,NaN,Germany,51.0000,9.0000,0,0,0,0,0,0,...,157,206,267,342,433,533,645,775,3876,64.600000
169,NaN,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,276,356,434,546,639,771,864,1039,5824,97.066667
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,422,465,578,759,1019,1228,1408,1789,9096,151.600000
225,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,706,942,1209,1581,2026,2467,2978,3873,18198,303.300000
116,NaN,France,46.2276,2.2137,0,0,0,0,0,0,...,1100,1331,1696,1995,2314,2606,3024,3523,21308,355.133333
133,NaN,Iran,32.0000,53.0000,0,0,0,0,0,0,...,1934,2077,2234,2378,2517,2640,2757,2898,34371,572.850000
201,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,2808,3647,4365,5138,5982,6803,7716,8464,54579,909.650000
137,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,6820,7503,8215,9134,10023,10779,11591,12428,116529,1942.150000
62,Hubei,China,30.9756,112.2707,249,350,414,479,549,618,...,3160,3163,3169,3174,3177,3182,3186,3187,139213,2320.216667