# 2)Which states and/or countries have a higher recovery rate? Why could that be? Are there medical supplies supple, higher quality, etc?

### Importing Libraries

In [27]:
import pandas as pd

In [28]:
import numpy as np

### Reading Data file

In [29]:
dfB_0=pd.read_csv("time_series_covid19_recovered_global_03-31-2020.csv")
dfB_0

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,2,5
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,2,10,17,17,31,31,33,44,52
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,65,65,24,65,29,29,31,31,37,46
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,10,10
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
dfB_0.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20'],
      dtype='object')

### Making a Dataframe of our required Dates

In [31]:
dfB_1=dfB_0[['Province/State', 'Country/Region', 'Lat', 'Long', 
             '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20',
       '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20']]

dfB_1

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,2,5
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,2,10,17,17,31,31,33,44,52
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,65,65,24,65,29,29,31,31,37,46
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,10,10
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Sum of Recovered Cases

In [32]:
dfB_2=dfB_1[:]
dfB_2['Sum_Recovered_feb_March']=dfB_1.iloc[:,5:].sum(axis=1)
dfB_2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Recovered_feb_March
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,1,2,2,2,2,2,2,5,26
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2,10,17,17,31,31,33,44,52,241
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,65,24,65,29,29,31,31,37,46,594
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,1,1,1,10,10,37
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
238,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###  Recovery Rate Calculation

In [33]:
dfB_3=dfB_2[:]
dfB_3['Recovery_Rate']=dfB_3['Sum_Recovered_feb_March']/60
dfB_3

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Recovered_feb_March,Recovery_Rate
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1,2,2,2,2,2,2,5,26,0.433333
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,10,17,17,31,31,33,44,52,241,4.016667
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,24,65,29,29,31,31,37,46,594,9.900000
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1,1,1,1,1,1,10,10,37,0.616667
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.016667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
238,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
239,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
240,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

### Sorting Contries/State with respect to Recovery Rate in Decending order

In [39]:
dfB_4=dfB_3[:]
dfB_5=dfB_4.sort_values(by="Recovery_Rate", ascending=False)
dfB_5

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Recovered_feb_March,Recovery_Rate
53,Hubei,China,30.975600,112.270700,168,295,386,522,633,817,...,60324,60811,61201,61732,62098,62570,62889,63153,1873400,31223.333333
127,NaN,Iran,32.000000,53.000000,0,0,0,0,0,0,...,8913,9625,10457,11133,11679,12391,13911,14656,172694,2878.233333
131,NaN,Italy,43.000000,12.000000,0,0,0,0,0,0,...,8326,9362,10361,10950,12384,13030,14620,15729,145716,2428.600000
199,NaN,Spain,40.000000,-4.000000,0,0,0,0,0,0,...,3794,5367,7015,9357,12285,14709,16780,19259,102934,1715.566667
112,NaN,Germany,51.000000,9.000000,0,0,0,0,0,0,...,3243,3547,5673,6658,8481,9211,13500,16100,68241,1137.350000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,NaN,Guyana,5.000000,-58.750000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
118,NaN,Guinea-Bissau,11.803700,-15.180400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
117,NaN,Guinea,9.945600,-9.696600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
114,NaN,Grenada,12.116500,-61.679000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

### Coutries/State with Lowest Recovery_Rate

In [40]:
dfB_5.tail(60)

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Recovered_feb_March,Recovery_Rate
201,NaN,Sudan,12.862800,30.217600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.016667
92,NaN,Equatorial Guinea,1.500000,10.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.016667
237,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
218,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
240,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
219,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
209,NaN,Timor-Leste,-8.874200,125.727500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
239,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
221,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
238,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
230,NaN,Zimbabwe,-20.000000,30.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
232,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
236,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
235,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
234,NaN,Burma,21.916200,95.956000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
202,NaN,Suriname,3.919300,-56.027800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
214,NaN,Uganda,1.000000,32.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
205,NaN,Syria,34.802100,38.996800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
229,NaN,Zambia,-15.416700,28.283300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
222,Montserrat,United Kingdom,16.742500,-62.187400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
121,NaN,Holy See,41.902900,12.453400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
193,NaN,Seychelles,-4.679600,55.492000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
38,NaN,Chad,15.454200,18.732200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
97,NaN,Fiji,-17.713400,178.065000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
95,NaN,Eswatini,-26.522500,31.465900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
93,NaN,Eritrea,15.179400,39.782300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
91,NaN,El Salvador,13.794200,-88.896500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
87,NaN,Dominica,15.415000,-61.371000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
86,NaN,Djibouti,11.825100,42.590300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
74,NaN,Congo (Brazzaville),-4.038300,21.758700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
37,NaN,Central African Republic,6.611100,20.939400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
104,New Caledonia,France,-20.904300,165.618000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
33,NaN,Cabo Verde,16.538800,-23.041800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
27,NaN,Bolivia,-16.290200,-63.588700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
26,NaN,Bhutan,27.514200,90.433600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
24,NaN,Belize,13.193900,-59.543200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
21,NaN,Barbados,13.193900,-59.543200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
100,French Polynesia,France,-17.679700,149.406800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
109,NaN,Gabon,-0.803700,11.609400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
186,NaN,Saint Kitts and Nevis,17.357822,-62.782998,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
153,NaN,Mauritius,-20.200000,57.500000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
185,NaN,Rwanda,-1.940300,29.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
176,NaN,Papua New Guinea,-6.315000,143.955500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
169,NaN,Niger,17.607800,8.081700,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
168,NaN,Nicaragua,12.865400,-85.207200,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
165,Sint Maarten,Netherlands,18.042500,-63.054800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
160,NaN,Mozambique,-18.665700,35.529600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
158,NaN,Montenegro,42.500000,19.300000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
150,NaN,Mali,17.570692,-3.996166,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
110,NaN,Gambia,13.443200,-15.310100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
147,NaN,Madagascar,-18.766900,46.869100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
144,NaN,Liechtenstein,47.140000,9.550000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
142,NaN,Liberia,6.428100,-9.429500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
119,NaN,Guyana,5.000000,-58.750000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
118,NaN,Guinea-Bissau,11.803700,-15.180400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
117,NaN,Guinea,9.945600,-9.696600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
114,NaN,Grenada,12.116500,-61.679000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
241,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

# ANSWERE# 2: Countries/State with Highest Recovery Rate

In [41]:
dfB_5.head(30)

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,Sum_Recovered_feb_March,Recovery_Rate
53,Hubei,China,30.9756,112.2707,168,295,386,522,633,817,...,60324,60811,61201,61732,62098,62570,62889,63153,1873400,31223.333333
127,NaN,Iran,32.0000,53.0000,0,0,0,0,0,0,...,8913,9625,10457,11133,11679,12391,13911,14656,172694,2878.233333
131,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,8326,9362,10361,10950,12384,13030,14620,15729,145716,2428.600000
199,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,3794,5367,7015,9357,12285,14709,16780,19259,102934,1715.566667
112,NaN,Germany,51.0000,9.0000,0,0,0,0,0,0,...,3243,3547,5673,6658,8481,9211,13500,16100,68241,1137.350000
137,NaN,"Korea, South",36.0000,128.0000,0,0,0,0,0,0,...,3507,3730,4144,4528,4811,5033,5228,5408,54270,904.500000
108,NaN,France,46.2276,2.2137,0,0,0,0,0,0,...,3243,3900,4948,5700,5700,7202,7927,9444,52818,880.300000
51,Henan,China,33.8820,113.6140,3,10,16,27,47,56,...,1250,1250,1250,1250,1251,1251,1251,1251,52240,870.666667
45,Guangdong,China,23.3417,113.4244,14,15,21,30,49,69,...,1333,1336,1336,1337,1341,1349,1351,1356,52002,866.700000
72,Zhejiang,China,29.1832,120.0934,21,32,43,62,78,94,...,1221,1221,1222,1222,1225,1225,1225,1226,49921,832.016667
54,Hunan,China,27.6104,111.7088,8,16,22,31,54,81,...,1014,1014,1014,1014,1014,1014,1014,1014,42674,711.233333
40,Anhui,China,31.8257,117.2264,5,7,14,20,23,34,...,984,984,984,984,984,984,984,984,39549,659.150000
57,Jiangxi,China,27.6140,115.7221,9,12,18,20,27,37,...,934,934,934,934,934,934,935,935,37462,624.366667
64,Shandong,China,36.3427,118.1498,3,6,7,11,15,27,...,752,752,752,752,752,752,753,753,26593,443.216667
56,Jiangsu,China,32.9711,119.4550,6,7,8,12,23,34,...,631,631,631,631,631,631,631,631,25680,428.000000
42,Chongqing,China,30.0572,107.8740,3,7,9,9,15,24,...,570,570,570,570,570,570,570,570,22521,375.350000
225,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,348,361,681,869,1072,2665,5644,7024,19818,330.300000
67,Sichuan,China,30.6171,102.7103,3,11,14,14,24,31,...,536,536,536,536,536,536,536,536,19671,327.850000
50,Heilongjiang,China,47.8620,127.7615,2,2,2,4,7,8,...,468,468,469,469,469,469,469,469,16555,275.916667
41,Beijing,China,40.1824,116.4142,9,9,12,23,24,31,...,401,403,406,408,410,412,415,418,14235,237.250000
65,Shanghai,China,31.2020,121.4491,10,10,10,12,15,25,...,330,330,331,334,334,334,338,341,13754,229.233333
49,Hebei,China,39.5490,116.1306,0,3,3,4,6,13,...,310,310,310,310,310,310,310,310,12913,215.216667
43,Fujian,China,26.0789,117.9874,0,0,1,3,11,14,...,295,295,295,295,295,295,295,295,11694,194.900000
63,Shaanxi,China,35.1917,108.8701,0,0,0,2,6,9,...,240,240,242,242,242,242,242,242,9610,160.166667
46,Guangxi,China,23.8298,108.7881,2,2,7,10,13,14,...,250,250,250,250,250,250,250,250,9177,152.950000
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,461,547,675,858,1063,1359,1527,1696,9068,151.133333
204,NaN,Switzerland,46.8182,8.2275,0,0,0,0,0,0,...,131,131,131,1530,1530,1595,1823,1823,9067,151.116667
79,NaN,Diamond Princess,0.0000,0.0000,0,0,0,0,0,0,...,325,587,597,597,597,603,603,603,9031,150.516667
71,Yunnan,China,24.9740,101.4870,2,3,5,5,5,7,...,172,172,172,172,172,172,172,172,6999,116.650000
48,Hainan,China,19.1959,109.7453,1,4,4,5,5,8,...,168,168,168,168,168,168,168,168,6688,111.466667

In [42]:
# saving result
dfB_5.to_excel("Answer2_Data_Result.xlsx")